body{
    margin: 0;
}
.contenedorHeader{
    padding-left: 38px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.enlaces{
    width: 60%;
    display: flex;
    justify-content: center;
}
.enlaces a{
    margin-right: 8%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
}
.iconoHomes{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.icono{
    margin-right: 18%;
}
.face{
    background-color: white;
}
/* ------------ aqui comienza carrusel --------*/

.dflex{
    display: flex;
    width: 100%;
    border-radius: 31px !important;
    justify-content: center;
    padding-top: 33px;
    height: 92vh;
}
.sizquierdoHome{
    width: 46%;
    background-color: #E7FAFE;
    border-bottom-left-radius: 31px;
    border-top-left-radius: 31px;
}
.sConParaPadin{
    padding-left: 4%;
    padding-right: 5%;
}
.sHot{
    display: flex;
    border-radius: 50px !important;
    width: max-content;
    height: 15vh;
    align-items: center;
}
.internosHot{
    display: flex;
    background-color: white;
    border-radius: 50px !important;
    width: 100%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 15px;
}
.sHotTexto p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.sSpicy{
    height: 100%;
}
.sSpicy h1{ 
    font-family: 'Inter', sans-serif;
    font-size: 64px;
}
.sSpicyContenido{
    height: 15vh;
    display: flex;
    align-items: center;
    opacity: 0.5;
}
.sTiempoCubiertos{
    width: 100%;
    display: flex;
    height: 19vh;
}
.sTiempo{
    height: 7vh;
    width: max-content;
    margin-right: 15px;
}
.sTiempoTamaño{
    width: max-content;
    height: 5vh;
    display: flex;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.sTiempoTamaño p{
    margin-top: 0;
    margin-bottom: 0;
}
.sCubiertos{
    height: 7vh;
    width: max-content;
}
.sCubiertosTamaño{
    display: flex;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 15px;
}
.sCubiertosTamaño p{
    margin-top: 0;
    margin-bottom: 0;
}
.owl-dot span{
    display: none !important;
}
.owl-carousel .owl-item img {
    height: 100%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: rgb(146, 19, 19) !important;
    width: 25px;
}
.owl-item.active {
    display: flex;
    justify-content: center;
}
.sAutorVerRecetas{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}
.sAutor{
    display: flex;
    width: 100%;
}
.sAutorContenedor{
    width: max-content;
    margin-right: 8%;
}
.sAutoryFechaContenedor {
    width: max-content;
}
.sContenedorParrafo p{
    margin: 0;
}
.sContenedorParrafoFecha p{
    margin: 0;
    opacity: 0.5;
}
.sverRecetas{
    display: flex;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 25px 0 25px;
}
.sverRecetas div {
    width: max-content;
}




.sInternoDerecho{
    width: 46%;
}
.sInternoDerecho img{
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}
